body{
    background-color: black;
}

.nav{background-color:black;
display:flex;
justify-content: center;
align-items: center;
text-decoration: none;


}

.nav li{display:inline-block;
font-size:30px;
padding:10px;
text-decoration: none;
list-style: none;


}



.nav a{padding:10px;
text-decoration: none;
color:yellow;}

.nav a:hover{
color:white;

}

.div1{
    width:100%;
    height:700px;
    text-align: center;
    display: flex;
    align-items: center;
    justify-content: flex-start;
    background-image: url(/img/bobmarley2.jpg);
    background-size: cover;
    background-repeat: no-repeat;
}

.div1 h1{
    color:yellow;
    font-size: 100px;
    font-weight: bold;
    ;
}

.div2{
    margin-left: auto;
    margin-right: auto;
    width:40%;
    display: flex;
    flex-direction: column;
    text-align: center;
    align-items: center;
    justify-content: center;

}

p {color: white;
font-size: 30px;}

h {color:white;
font-size: 40px;}




.side1{flex:0 0 20%;
height:300px;
border: 4px solid yellow;
padding:0px;
margin:70px;
border-radius: 50px;
background-image: url(/img/bobhistory.jpg);
background-size: cover;
}

.side3{flex:0 0 20%;
height:300px;
border: 4px solid yellow;
padding:0px;
margin:70px;
border-radius: 50px;
background-image: url(/img/bobhistory2.jpg);
background-size: cover;
}


.side2{
flex:10%;

padding:20px;
margin:70px;
border-radius: 50px;

}

.row{
display:flex;
flex-wrap: wrap;
text-align: center;
align-items: center;
justify-content: space-around;
}


2container{{flex:0 0 40%;
height:500px;
border: 4px solid yellow;
padding:0px;
margin:70px;
border-radius: 50px;
background-image: url(/img/.jpg);
background-size: cover;
}}