body{
    background-color: black;
}

.nav{background-color:black;
display:flex;
justify-content: center;
align-items: center;
text-decoration: none;


}

.nav li{display:inline-block;
font-size:30px;
padding:10px;
text-decoration: none;
list-style: none;


}



.nav a{padding:10px;
text-decoration: none;
color:white;}

.nav a:hover{
color:yellow;

}

.div1{
    width:100%;
    height:700px;
    text-align: center;
    display: flex;
    align-items: center;
    justify-content: flex-start;
    background-image: url(/img/bobmarley2.jpg);
    background-size: cover;
    background-repeat: no-repeat;
    min-height: 60vh;
}

.div1 h1{
    color:yellow;
    font-size: 100px;
    font-weight: bold;
    ;
}

.div2{
    margin-left: auto;
    margin-right: auto;
    width:40%;
    display: flex;
    flex-direction: column;
    text-align: center;
    align-items: center;
    justify-content: center;

}

p {color: white;
font-size: 30px;}



h2 {
  color: white;
  font-size: 40px;
}


.side1{flex:0 0 20%;
height:300px;
border: 4px solid yellow;
padding:0px;
margin:70px;
border-radius: 50px;
background-image: url(/img/bobhistory.jpg);
background-size: cover;
}

.side3{flex:0 0 20%;
height:300px;
border: 4px solid yellow;
padding:0px;
margin:70px;
border-radius: 50px;
background-image: url(/img/bobhistory2.jpg);
background-size: cover;
}


.side2{
flex:10%;

padding:20px;
margin:70px;
border-radius: 50px;

}

.row{
display:flex;
flex-wrap: wrap;
text-align: center;
align-items: center;
justify-content: space-around;
}


2container{{flex:0 0 40%;
height:500px;
border: 4px solid yellow;
padding:0px;
margin:70px;
border-radius: 50px;
background-image: url(/img/.jpg);
background-size: cover;
}}





/* Container */
/* Make the container full width */
.dropdown {
  width: 100%;
  position: relative;
}

/* Button */
.dropbtn {
  background: transparent; 
  font-size: 24px;       /* no fill */
  color: white;
  border: 2px solid yellow;       /* yellow border */
  padding: 10px 15px;
  cursor: pointer;
  width: 100%;                    /* make button full width */
}

/* Dropdown Content */
.dropdown-content {
  width: 100%;
  display: none;
  position: relative;         /* change from absolute */
  background-color: black;
  border: 2px solid yellow;   /* yellow border */
  box-sizing: border-box;
}

/* Links inside dropdown */
.dropdown-content p {
  color: white;
  padding: 10px 12px;
  text-decoration: none;
  display: block;
  text-align: center;
  font-size: 20px;
}

.dropdown-content a:hover {
  background-color: #ddd;
}


footer {
    text-align: center;
    margin-top: 40px;
}